BODY {
	font-family: arial, Arial, sans-serif;
	//font-size: 13px;
	font-size: 50%;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	line-height: normal;
	letter-spacing: 1px;
	text-decoration: none;
 	
	/*
	SCROLLBAR-FACE-COLOR: #ffffff;
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
	SCROLLBAR-SHADOW-COLOR: #ffffff;
	SCROLLBAR-3DLIGHT-COLOR: #CCCCFF;
	SCROLLBAR-ARROW-COLOR: #666666;
	SCROLLBAR-TRACK-COLOR: #ffffff;
	SCROLLBAR-DARKSHADOW-COLOR: #CCCCFF
	*/
}


/* ########### TEXTE DIVERS ################################## */
 
.titre 
	{ 
	font-family: Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	line-height: normal;
	letter-spacing: 2px;
	text-decoration: none: 1px #990099 solid;
	}
	
.titre1 
	{ 
	font-family: Arial, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	line-height: normal;
	letter-spacing: 2px;
	text-decoration: none: 1px #990099 solid;
	}
.letext
	{
	font-family: Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #666666;
	line-height: normal;
	letter-spacing: 1px;
	text-decoration: none;
 	}

.clerreur
	{
	font-family: Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: red;
	line-height: normal;
	letter-spacing: 1px;
	text-decoration: none;
 	}
 	
.isred{
	font-family: arial, Arial, sans-serif;
	//font-size: 13px;
	font-size: 100%;
	font-style: normal;
	font-weight: normal;
	color: red;
	line-height: normal;
	letter-spacing: 1px;
	text-decoration: none;
	}
	
 	
.isgreen{
	font-family: arial, Arial, sans-serif;
	//font-size: 13px;
	font-size: 100%;
	font-style: normal;
	font-weight: normal;
	color: green;
	line-height: normal;
	letter-spacing: 1px;
	text-decoration: none;
	}

/* ########### Liens navig ################################## */

.xnavigstop,.xnavigstop A:link,.xnavigstop A:visited,.xnavigstop A:active,.xnavigstop A:hover
	{
	font-family: Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #666666;
	line-height: normal;
	letter-spacing: 1px;
	text-decoration: none;
	cursor: hand;
 	}
 	
.znaviggo A:link,.xnaviggo A:visited
	{
	font-family: Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	line-height: normal;
	letter-spacing: 1px;
	text-decoration: none;
	cursor: hand;
 	}

.znaviggo A:active,.xnaviggo A:hover
	{
	font-family: Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #FF0000;
	line-height: normal;
	letter-spacing: 1px;
	text-decoration: none;
	cursor: hand;
 	}
 	
/* ########### LIENS INTEROG curseur ? ################################## */

.jaide
	{
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: #EAFFC7;
	letter-spacing: 1px;
	text-decoration: none;
	cursor: help;
 	}


/* ########### LIENS SANS CLASS ################################## */


A:link,A:visited
	{
	font-family: Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #666666;
	line-height: normal;
	letter-spacing: 1px;
	text-decoration: none;
	cursor: hand;
 	}
A:active,A:hover
	{
	font-family: Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	line-height: normal;
	letter-spacing: 1px;
	text-decoration: none;
	cursor: hand;
 	}

/* ############# CONDITIONS ################################ */

.conditx
	{
	font-family: Arial, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #666666;
	line-height: normal;
	letter-spacing: 1px;
	text-decoration: none;
 	}

 	
/* ############# FORMULAIRE ################################ */

.clform
	{
	font-family: Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	background-color: transparent;
	border-color: transparent;
	border-style: solid;
	border-width: 0px;
	 /*width: 250px; */
	}
	
.clform1
	{
	font-family: Arial, sans-serif;
	font-size: 100%;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	background-color: #FFFFFF;
	border-color: transparent;
	border-style: solid;
	border-width: 0px;
	 /*width: 250px; */
	}
	
.clformreadonly
	{
	font-family: Arial, sans-serif;
	font-size: 100%;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	/*background-color: #EAEAEA;*/
	background-color: #F0F0F0;
	border-color: transparent;
	border-style: solid;
	border-width: 0px;
	 /*width: 250px; */
	}
.clformsauv
	{
	font-family: Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	background-color: #FFFFFF;
	border-color: #666666;
	border-style: solid;
	border-width: 1px;
	width: 130px;
	}
.clsubmit
	{
	font-family: Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	background-color: #FFFFFF;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	border: 1px #666666 solid;
	cursor: hand;
	}

.clxform
	{
	font-family: Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: bgcolor="#EAFFC7";
	BACKGROUND-COLOR: transparent;
	border: 1px none #666666;
	/* width: 130px; */
	}	
