BODY {
/*
font-family: Georgia, Times New Roman, Times, serif;
font-size: 12px;
font-style: normal;
font-weight: normal;
color: #666666;
line-height: normal;
letter-spacing: 1px;
text-decoration: none;
 
background-image: url(images/background.gif);
background-attachment: fixed;
background-position: center;
*/


font-family:Verdana,Arial;
font-size: 10px;
bgcolor="e7eadf";

SCROLLBAR-FACE-COLOR: #FEFCFC;
SCROLLBAR-HIGHLIGHT-COLOR: #FEFCFC;
SCROLLBAR-SHADOW-COLOR: #FEFCFC;
SCROLLBAR-3DLIGHT-COLOR: #999999;
SCROLLBAR-ARROW-COLOR: #9933FF;
SCROLLBAR-TRACK-COLOR: #FEFCFC;
SCROLLBAR-DARKSHADOW-COLOR: #999999;
}

.body1 {
background-image: url(images/background.gif);
background-attachment: fixed;
background-position: center;
font-family:Verdana,Arial;
bgcolor="e7eadf";
}

.titre {
font-family: Verdana,Arial;
font-size: 14px;
font-style: normal;
color: #FFFFFF;
}
.titre1 {
font-family: Verdana,Arial;
font-size: 12px;
font-style: normal;
color: #FFFFFF;

}

.titre2 {
font-family: Verdana,Arial;
font-size: 14px;
font-style: normal;
}

.texte1 {
font-family: Verdana,Arial;
font-size: 12px;
font-style: normal;
}

A {color:#ffffff;} 
A:hover {color:#cccccc}

.nav1:link,.nav1:visited
	{
	font-family: Verdana,Arial;
	font-size: 12px;
	font-style: normal;
	/*font-weight: bold;
*/
	color: #000000;
	line-height: normal;


	letter-spacing: 1px;
	text-decoration: none;
	cursor: hand;
 	}
.nav1:active,.nav1:hover
	{
	font-family: Verdana,Arial;
	font-size: 12px;
	font-style: normal;
	/*font-weight: bold;
*/
	color: #FF33FF;
	line-height: normal;
	letter-spacing: 1px;
	text-decoration: none;
	cursor: hand;
 	}
 
.navigation {
font-family:Verdana,Arial;
font-size: 10pt;
font-style: normal;
font-weight: normal;
font-variant: normal;
}

.faq {
font-family:Verdana,Arial;
font-size: 10pt;
font-style: normal;
font-weight: normal;
font-variant: normal;
color: #000000;
}

.isgreen {
font-family:Verdana,Arial;
font-size: 10pt;
font-style: normal;
font-weight: normal;
font-variant: normal;
}

.isred {
font-family:Verdana,Arial;
font-size: 10pt;
font-style: normal;
font-weight: normal;
font-variant: normal;
}

.navigation2 {
font-family: Verdana,Arial;
font-size: 12pt;
font-style: normal;
font-weight: normal;
font-variant: normal;

}
.copyright {
font-family: Verdana,Arial;
font-size: 9px;
font-style: normal;
color:#CCCCCC;
}

.info {
font-family: Verdana,Arial;
font-size: 10px;
font-style: normal;
color: #666666;
}
.conditions {
font-family: Verdana,Arial;
font-size: 9px;
font-style: normal;
}
.texte2 {
font-family: Verdana,Arial;
font-size: 8px;
font-style: normal;
color: #FFFFFF;
}

.Style1 {
color: #666666
}

.reminderTooltip {
BORDER-BOTTOM: black 1px solid;
BORDER-LEFT: black 1px solid;
BORDER-RIGHT: black 1px solid;
BORDER-TOP: black 1px solid;
FONT: 7pt verdana;
LEFT: 258px;
RIGHT: 50px;
TOP: 52px;
PADDING-BOTTOM: 2px;
PADDING-LEFT: 6px;
PADDING-RIGHT:  6px;
PADDING-TOP: 2px;
POSITION: absolute;
VISIBILITY: hidden;
Z-INDEX: 2;
height: 18px;
}

input
{
border-right-width: 1px;
border-bottom-width: 1px;
border-top-color: 8020a0;
border-right-color: 8020a0;
border-bottom-color: 8020a0;
border-left-color: 8020a0;
border-top-width: 1px;
border-left-width: 1px;
}

.inputviolet
{
font-family: Verdana,Arial;
color: #9933CC;
/*font-size: 100%;
*/
font-size: 9px;
letter-spacing: 1px;
background-color: #F8EDFE;
border: 1 solid #444444;
padding:1px;
font-weight: normal;
}

.btn
{
font-family: Verdana,Arial;
color: #9933CC;
font-size: 11px;
background-color: #cecfce;
border-color: #AAAAAA;	
height: 20px;
font-weight: bold;		
cursor: hand;
}

.btnfocus
{
font-family: Verdana,Arial;
color: #FF33FF;
font-size: 11px;
background-color: #cecfce;
border-color: #AAAAAA;
height: 20px;
font-weight: bold;
cursor: hand;
}

.clerreur
{
font-family: arial;
font-size: 12px;
font-style: normal;
font-weight: normal;
color: red;
line-height: normal;
letter-spacing: 1px;
text-decoration: none;
}