#PCL {
		font-family: Verdana,Arial,Helvetica;
		font-style: none;
		font-weight: normal;
		text-decoration: none;
		font-size: 8pt;
}

#PTT {
		font-family: Verdana,Arial,Helvetica;
		font-size: 8pt;
}

#PST {
		font-family: Verdana,Arial,Helvetica;
		font-size: 8pt;
}

#VFONT {
		font-family: Verdana,Arial,Helvetica;
		font-size: 8pt;
		color: #000000;
}

