.codeA
{
	font-family: courier new, arial;
	font-size: 12px;
	padding: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
	border: 1px solid #b0b0b0;
	background-color: #f0f0f0;
}

.codeB
{
	font-family: courier new, arial;
	font-size: 12px;
}

.codeC
{
	font-family: courier new, arial;
	font-size: 12px;
	color: green;
}

.codeComment
{
	font-family: courier new, arial;
	font-size: 12px;
	color: #c0c0c0;	
}

.highlight
{
	background-color: yellow;
}

.warning
{
	color: red;
}
