BODY {
	BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Georgia, Times New Roman, Times, serif
}
BODY {
	bgcolor: "e7eadf"
}
.titre {
	FONT-SIZE: 18px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: Georgia, "Times New Roman", Times, serif
}
.titre1 {
	FONT-SIZE: 14px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: Georgia, "Times New Roman", Times, serif
}
.texte1 {
	FONT-SIZE: 15px; FONT-STYLE: normal; FONT-FAMILY: Georgia, "Times New Roman", Times, serif
}
A {
	COLOR: #ffffff
}
A:hover {
	COLOR: #cccccc
}
.navigation {
	FONT-WEIGHT: normal; FONT-SIZE: 12pt; FONT-STYLE: normal; FONT-FAMILY: Georgia, "Times New Roman", Times, serif; FONT-VARIANT: normal
}
.copyright {
	FONT-SIZE: 9px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: Georgia, "Times New Roman", Times, serif
}
.info {
	FONT-SIZE: 10px; COLOR: #666666; FONT-STYLE: normal; FONT-FAMILY: Georgia, "Times New Roman", Times, serif
}
.conditions {
	FONT-SIZE: 9px; FONT-STYLE: normal; FONT-FAMILY: Georgia, "Times New Roman", Times, serif
}
.texte2 {
	FONT-SIZE: 8px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: Georgia, "Times New Roman", Times, serif
}
.reminderTooltip {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: black 1px solid; PADDING-LEFT: 6px; Z-INDEX: 2; RIGHT: 50px; LEFT: 258px; VISIBILITY: hidden; PADDING-BOTTOM: 2px; FONT: 7pt Georgia, Times New Roman, Times, serif; BORDER-LEFT: black 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: black 1px solid; POSITION: absolute; TOP: 52px; HEIGHT: 18px
}
