

      <div class="modal-header">
      
        <h4 class="modal-title">Are you sure you are affiliated with a broker dealer?</h4>
      </div>
      <div class="modal-body">
        <p>If you are affiliated with a broker dealer you will need to provide written approval from the organization's compliance officer. While we wait for confirmation from your compliance officer you will not be able to deposit and withdraw money from your account.
</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="setOption1('y')">Yes</button>
        <button type="button" class="btn btn-default" ng-click="setOption1('n')" data-dismiss="modal">No</button>
      </div>
      
