mixin dropdown_button(type)
  // START button group
  .btn-group.mb-sm.mr(dropdown='dropdown')
    button.btn.dropdown-toggle(type='button', ng-disabled='disabled', class="btn-#{type}")
      = type
      | &nbsp;
      span.caret
    ul.dropdown-menu(role='menu')
      li
        a(href='#') Action
      li
        a(href='#') Another action
      li
        a(href='#') Something else here
      li.divider
      li
        a(href='#') Separated link
  // END button group

mixin dropdown_split(type)
  // START button group
  .btn-group(dropdown='dropdown').mb.mr
    button.btn(type='button', class="btn-#{type}") Action
    button.btn.dropdown-toggle(type='button', class="btn-#{type}")
      span.caret
      span.sr-only= type
    ul.dropdown-menu(role='menu')
      li
        a(href='#') Action
      li
        a(href='#') Another action
      li
        a(href='#') Something else here
      li.divider
      li
        a(href='#') Separated link
  // END button group

mixin build-anim-panel(animation)
  .p
    // START button group
    .btn-group.mr(dropdown='dropdown')
      button.btn.btn-default.dropdown-toggle.btn-block
        = animation
        | &nbsp;
        b.caret
      ul.dropdown-menu(role='menu', class="animated #{animation}")
        li
          a(href='#') Action
        li
          a(href='#') Another action
        li
          a(href='#') Something else here
        li
          a(href='#') Separated link
    // END button group


h3 Buttons
// START row
.row
  .col-md-6
    // START panel
    .panel.panel-default
      .panel-heading
        h3.panel-title Button colors
      .panel-body
        button.mr.mb-sm.btn.btn-default(type='button') Default
        button.mr.mb-sm.btn.btn-primary(type='button') Primary
        button.mr.mb-sm.btn.btn-info(type='button') Info
        button.mr.mb-sm.btn.btn-success(type='button') Success
        button.mr.mb-sm.btn.btn-warning(type='button') Warning
        button.mr.mb-sm.btn.btn-danger(type='button') Danger
        br
        button.mr.mb-sm.btn.btn-inverse(type='button') Inverse
        button.mr.mb-sm.btn.btn-turquoise(type='button') Turquoise
        button.mr.mb-sm.btn.btn-purple(type='button') Purple
        button.mr.mb-sm.btn.btn-pink(type='button') Pink
        button.mr.mb-sm.btn.btn-orange(type='button') Orange

    // END panel
    // START panel
    .panel.panel-default
      .panel-heading
        h3.panel-title Button sizing
      .panel-body
        p
          button.mr.btn.btn-primary.btn-lg(type='button') Large button
          button.mr.btn.btn-default.btn-sm(type='button') Small button
          button.mr.btn.btn-default.btn-xs(type='button') Extra small button
    // END panel
    // START panel
    .panel.panel-default
      .panel-heading
        h3.panel-title Button Pills
      .panel-body
        p Pill left &amp; right
        p
          button.mr.btn.btn-pill-left.btn-default(type='button') Default
          button.mr.btn.btn-pill-left.btn-primary(type='button') Primary
          button.mr.btn.btn-pill-left.btn-success(type='button') Success
          button.mr.btn.btn-pill-right.btn-info(type='button') Info
          button.mr.btn.btn-pill-right.btn-warning(type='button') Warning
          button.mr.btn.btn-pill-right.btn-danger(type='button') Danger
    // END panel
    // START panel
    .panel.panel-default
      .panel-heading
        h3.panel-title Fixed Width
      .panel-body
        p
          button.mr.btn.btn-fw.btn-primary(type='button') A
          button.mr.btn.btn-fw.btn-success(type='button') B
          button.mr.btn.btn-fw.btn-info(type='button') C
          button.mr.btn.btn-fw.btn-warning(type='button') D
          button.mr.btn.btn-fw.btn-danger(type='button') E
    // END panel
    // START panel
    .panel.panel-default
      .panel-heading
        h3.panel-title Button dropdown
      .panel-body
        +dropdown_button('default')
        +dropdown_button('primary')
        +dropdown_button('success')
        +dropdown_button('info')
        +dropdown_button('warning')
        +dropdown_button('danger')
    // END panel

  .col-md-6
    // START panel
    .panel.panel-default
      .panel-heading
        h3.panel-title Button Labeled
      .panel-body
        // Success button with label 
        button.mr.btn.btn-labeled.btn-success(type='button')
          span.btn-label
            i.fa.fa-check
          | Success
        // Danger button with label 
        button.mr.btn.btn-labeled.btn-danger(type='button')
          span.btn-label
            i.fa.fa-times
          | Danger
        // Info button with label 
        button.mr.btn.btn-labeled.btn-info(type='button')
          span.btn-label
            i.fa.fa-exclamation
          | Info
        // Warning button with label 
        button.mr.btn.btn-labeled.btn-warning(type='button')
          span.btn-label
            i.fa.fa-warning
          | Warning
        br
        br
        // Standard button with label 
        button.mr.btn.btn-labeled.btn-default(type='button')
          span.btn-label
            i.fa.fa-arrow-left
          | Left
        // Standard button with label on the right side 
        button.mr.btn.btn-labeled.btn-default(type='button')
          | Right
          span.btn-label.btn-label-right
            i.fa.fa-arrow-right
    // END panel
    // START panel
    .panel.panel-default
      .panel-heading
        h3.panel-title Button Switch
      .panel-body
        - var brands = ['primary','success','info','warning','danger', 'inverse', 'turquoise', 'purple', 'pink', 'orange']
        - each brand in brands
          .btn-switch.mb.mr(class="btn-switch-#{brand}")
            input(type='checkbox', id='input-btn-switch-#{brand}')
            label.btn(for='input-btn-switch-#{brand}', class="btn-#{brand}")
              em.fa.fa-check
              = brand
    // END panel
    // START panel
    .panel.panel-default
      .panel-heading
        h3.panel-title Button Shapes
      .panel-body
        p Button Oval
        p
          button.mr.btn.btn-oval.btn-default(type='button') Default
          button.mr.btn.btn-oval.btn-primary(type='button') Primary
          button.mr.btn.btn-oval.btn-success(type='button') Success
          button.mr.btn.btn-oval.btn-info(type='button') Info
          button.mr.btn.btn-oval.btn-warning(type='button') Warning
          button.mr.btn.btn-oval.btn-danger(type='button') Danger
        br
        p Button Square
        p
          button.mr.btn.btn-square.btn-default(type='button') Default
          button.mr.btn.btn-square.btn-primary(type='button') Primary
          button.mr.btn.btn-square.btn-success(type='button') Success
          button.mr.btn.btn-square.btn-info(type='button') Info
          button.mr.btn.btn-square.btn-warning(type='button') Warning
          button.mr.btn.btn-square.btn-danger(type='button') Danger
    // END panel
    // START panel
    .panel.panel-default
      .panel-heading
        h3.panel-title Split button dropdown
      .panel-body
        br
        +dropdown_split('default')
        +dropdown_split('primary')
        +dropdown_split('success')
        +dropdown_split('info')
        +dropdown_split('warning')
        +dropdown_split('danger')
    // END panel
// END row

.panel.panel-default
  .panel-heading
    .panel-title Dropdown Effects

      - var animations = ['zoomIn','zoomInDown','zoomInLeft','zoomInRight','zoomInUp','bounce','flash','pulse','rubberBand','shake','swing','tada','wobble','bounceIn','bounceInDown','bounceInLeft','bounceInRight','bounceInUp','fadeIn','fadeInDown','fadeInDownBig','fadeInLeft','fadeInLeftBig','fadeInRight','fadeInRightBig','fadeInUp','fadeInUpBig','flip','flipInX','flipInY','lightSpeedIn','rotateIn','rotateInDownLeft','rotateInDownRight','rotateInUpLeft','rotateInUpRight','hinge','rollIn']
      // START row
      .row
        - each val in animations
          .col-md-2
            +build-anim-panel(val)
      // END row

