h3 
  .pull-right
    button(type="button", ng-click="$state.go('app.documentation')").btn.btn-info
      em.fa.fa-info
  | Dashboard
  small(ng-bind="app.name + ' - ' + app.description")

.row(ng-controller="DashboardController")

  // START dashboard content
  .col-lg-9.fw-boxed
    .row
      .col-lg-4.col-lg-push-8
        .row
          .col-lg-6.col-sm-4.col-xs-6
            .panel.panel-default
              .panel-body.bl-info
                h2.text-thin.mt0 150
                .text-right.text-sm.text-muted Transactions
          .col-lg-6.col-sm-4.col-xs-6
            .panel.panel-default
              .panel-body.bl-inverse
                h2.text-thin.mt0 700
                .text-right.text-sm.text-muted Users
          .col-lg-6.col-sm-4.col-xs-6
            .panel.panel-default
              .panel-body.bl-info
                h2.text-thin.mt0 699
                .text-right.text-sm.text-muted Views
          .col-lg-6.col-sm-4.col-xs-6
            .panel.panel-default
              .panel-body.bl-inverse
                h2.text-thin.mt0 96
                .text-right.text-sm.text-muted Downloads
          .col-lg-6.col-sm-4.col-xs-6
            .panel.panel-default
              .panel-body.bl-info
                h2.text-thin.mt0 50 
                .text-right.text-sm.text-muted New Files
          .col-lg-6.col-sm-4.col-xs-6
            .panel.panel-default
              .panel-body.bl-inverse
                h2.text-thin.mt0 1
                .text-right.text-sm.text-muted Task
      .col-lg-8.col-lg-pull-4


        // START chart
        #panelChart9.panel.panel-default
          .panel-heading
            // START button group
            .pull-right.btn-group(dropdown='dropdown')
              button(type="button").dropdown-toggle.btn.btn-default.btn-sm
                em.fa.fa-ellipsis-v
              ul.dropdown-menu.fadeInLeft2.animated(role='menu')
                li.clearfix
                  a(href='#').pull-left Income
                  .pull-right.mr(ng-click="cancel($event)")
                    label.switch.switch-info
                      input(type='checkbox', ng-model="areaSplineSeries[0]")
                      span
                li.clearfix
                  a(href='#').pull-left Outcome
                  .pull-right.mr(ng-click="cancel($event)")
                    label.switch.switch-inverse
                      input(type='checkbox', ng-model="areaSplineSeries[1]")
                      span
                  // END button group
                li.divider
                li
                  a(href='#') Daily
                li
                  a(href='#') Monthly
                li
                  a(href='#') All time
            // END button group
            .panel-title Income vs. Outcome
          .panel-wrapper(collapse="panelChart9")
            .panel-body
              flot(options='splineChartOpts', src="'server/chart/spline.json'", series="{splines: areaSplineSeries}")

    .row
      .col-md-6
        .panel.panel-default
          .panel-heading 
            .panel-title 
              em.icon-upload.fa-lg.text-muted.pull-right
              | Uploads
          // List group 
          ul.list-group
            li.list-group-item 
              .media
                a.media-left.media-middle(href='#').text-muted
                  em.fa.fa-cloud-upload.fa-2x
                .media-body
                  p.media-heading.text-bold wonderful-sunday.png
                  p 10 of 300MB - 10MB/s
                  progressbar.progress-xs(value='32', type='warning')
            li.list-group-item 
              .media
                a.media-left.media-middle(href='#').text-muted
                  em.fa.fa-check.fa-2x.text-success
                .media-body
                  p.media-heading.text-bold Angular-directives-complete-set.zip
                  p 500k of 500k - 
                    a(href="#"): em.text-primary.fa.fa-dropbox
                  progressbar.progress-xs(value='100', type='success')

      .col-md-6
        .panel.panel-default
          .panel-heading 
            a(href="#").btn.btn-xs.btn-warning.pull-right: small more
            .panel-title Support Team
          // List group 
          ul.list-group
            li.list-group-item 
              .media
                .pull-left
                  // Contact avatar
                  .point-pin
                    a(href='#')
                      img.media-object.img-circle.thumb32(src='app/img/user/08.jpg', alt='Image')
                    .point.point-success.point-lg
                // Contact info
                .media-body
                  .media-heading
                    p.mb-sm
                      strong: a.text-inverse(href='#') Same Anderson 
                      | - 
                      em.text-muted #41545
                    small.text-muted Phasellus ultricies tempor purus, nec congue. 
            li.list-group-item 
              .media
                .pull-left
                  // Contact avatar
                  .point-pin
                    a(href='#')
                      img.media-object.img-circle.thumb32(src='app/img/user/02.jpg', alt='Image')
                    .point.point-warning.point-lg
                // Contact info
                .media-body
                  .media-heading
                    p.mb-sm
                      strong: a.text-inverse(href='#') Myrtle James
                      | - 
                      em.text-muted #54878
                    small.text-muted Vivamus tempus vehicula facilisis. 
            li.list-group-item 
              .media
                .pull-left
                  // Contact avatar
                  .point-pin
                    a(href='#')
                      img.media-object.img-circle.thumb32(src='app/img/user/06.jpg', alt='Image')
                    .point.point-danger.point-lg
                // Contact info
                .media-body
                  .media-heading
                    p.mb-sm
                      strong: a.text-inverse(href='#') Jeremiah Peterson
                      | - 
                      em.text-muted #13547
                    small.text-muted Integer fermentum accumsan metus, id sagittis. 

    .panel.panel-default
      .panel-heading
        .panel-title 
          em.icon-signal.fa-lg.text-muted.pull-right
          | Analytics
      .panel-body
        .row
          .col-md-9
            flot(src="'server/chart/line-single.json'", options='chartOpts', series="{'lines' : lineChartSeries}", height="260")
          .col-md-3
            table.table.table-hover.mb-lg
              thead
                tr
                  th Name
                  th.text-right Show
              tbody
                tr
                  td Campaing 1
                  td.text-right
                    label.switch.m0
                      input(type='checkbox', ng-model="lineChartSeries[0]")
                      span
                tr
                  td Campaing 2
                  td.text-right
                    label.switch.switch-info.m0
                      input(type='checkbox', ng-model="lineChartSeries[1]")
                      span
                tr
                  td Campaing 3
                  td.text-right
                    label.switch.switch-inverse.m0
                      input(type='checkbox', ng-model="lineChartSeries[2]")
                      span
            p.mt-lg.text-muted Etiam ultrices mollis placerat. Proin ullamcorper lectus ut libero blandit pretium. 
  
    .panel.panel-default
      .table-responsive
        table.table.table-bordered.table-striped.text-center
          thead
            tr
              th.text-center Code
              th.text-center Files
              th.text-center Transactions
              th.text-center Request
              th.text-center Income
              th.text-center Outcome
              th.text-center Total
          tbody
            tr
              td.text-bold #1234
              td 1,232
              td 523
              td -
              td.text-success.text-bold $ 1,548.00
              td.text-danger.text-bold $ 0.00
              td $ 1,548.00
            tr
              td.text-bold #548
              td 1,232
              td -
              td 300
              td.text-success.text-bold $ 3,548.00
              td.text-danger.text-bold $ 1000.00
              td $ 2,548.00
            tr
              td.text-bold #654
              td 1,232
              td 523
              td 57889
              td.text-success.text-bold $ 10,256.00
              td.text-danger.text-bold $ 10,000.00
              td $ 256.00
            tr
              td.text-bold #3266
              td -
              td 523
              td 1200
              td.text-success.text-bold $ 11,100.50
              td.text-danger.text-bold $ 100.00
              td $ 11,000.50
  // END dashboard content

  // START dashboard sidebar
  aside.col-lg-3.fw-boxed
    .row
      .col-lg-12.col-md-6
        .panel.panel-info
          .panel-heading
            .panel-title.bg-info 
              em.icon-clock.fa-lg.pull-right.text-muted
              | Activity
          .panel-body
            .smoothy
              scrollable
                // START timeline
                ul.timeline-alt
                  li.timeline-separator(data-datetime="14 Oct")
                  // START timeline item
                  li
                    .timeline-badge.timeline-badge-sm.thumb-32.bg-purple
                      em.fa.fa-users
                    .timeline-date
                      time(datetime='10m')
                    .timeline-panel
                      strong Client Meeting
                      .text-muted Green Offfice - Av 123 St Floor 2
                  // END timeline item
                  // START timeline item
                  li
                    .timeline-badge.timeline-badge-sm.bg-turquoise
                      em.fa.fa-phone
                    .timeline-date
                      time(datetime='1h')
                    .timeline-panel
                      strong Call
                      .text-muted From: 
                        a(href="tel:+011231987") Michael
                        | . 
                        em  No message left.
                  // END timeline item
                  // START timeline item
                  li
                    .timeline-badge.timeline-badge-sm.bg-info
                      em.fa.fa-envelope
                    .timeline-date
                      time(datetime='3h')
                    .timeline-panel
                      strong New invitation
                      .text-muted From: 
                        strong UX Design Team
                  // END timeline item
                  li.timeline-separator(data-datetime="13 Oct")
                  // START timeline item
                  li
                    .timeline-badge.timeline-badge-sm.bg-warning
                      em.fa.fa-upload
                    .timeline-date
                      time(datetime='9am')
                    .timeline-panel
                      strong File upload
                      a(href="#") 
                        .text-bold angular+bs.zip
                  // END timeline item
                // END timeline
      .col-lg-12.col-md-6
        .panel.panel-info
          .panel-heading
            .panel-title.bg-info 
              em.icon-speech-bubble.fa-lg.pull-right.text-muted
              | Team chat
          .panel-body
            .smoothy
              scrollable
                ul.chat
                  li.left.clearfix
                    span.chat-img.pull-left
                      img.img-circle.thumb48(src="app/img/user/01.jpg", alt="Image")
                    .chat-body.clearfix
                      .chat-header
                        a(href="#").text-inverse: strong Florence Douglas
                        small.pull-right.text-muted
                          span.fa.fa-time
                          | 12m
                      .chat-msg Suspendisse nisl nulla, interdum at fermentum eget, adipiscing in elit. 
                  li.right.clearfix
                    span.chat-img.pull-right
                      img.img-circle.thumb48(src="app/img/user/03.jpg", alt="Image")
                    .chat-body.clearfix
                      .chat-header
                        small.text-muted
                          span.fa.fa-time
                          | 13m
                        a(href="#").text-inverse: strong.pull-right Jon Elliott
                      .chat-msg Donec consequat venenatis orci, et sagittis risus pretium eget. 
                  li.left.clearfix
                    span.chat-img.pull-left
                      img.img-circle.thumb48(src="app/img/user/02.jpg", alt="Image")
                    .chat-body.clearfix
                      .chat-header
                        a(href="#").text-inverse: strong Joel Miles
                        small.pull-right.text-muted
                          span.fa.fa-time
                          | 14m
                      .chat-msg Mauris eleifend, libero nec cursus lacinia, tellus est pharetra orci, et pretium urna felis eget neque. 
                  li.right.clearfix
                    span.chat-img.pull-right
                      img.img-circle.thumb48(src="app/img/user/03.jpg", alt="Image")
                    .chat-body.clearfix
                      .chat-header
                        small.text-muted
                          span.fa.fa-time
                          | 15m
                        a(href="#").text-inverse: strong.pull-right Jon Elliott
                      .chat-msg Sed semper diam vitae purus tristique at scelerisque massa ultricies. Aliquam non eros dui. 
          .panel-footer
            .input-group.input-group-sm
              input.form-control(type='text', placeholder="Type a message ...")
              span.input-group-btn
                button.btn.btn-info(type='button'): small Post
      
      .col-xs-12
        .panel.panel-info
          .panel-heading 
            .panel-title.bg-info
              em.icon-share.fa-lg.pull-right.text-muted
              | Social
          // Table 
          .table-responsive
            table.table
              //- caption Optional table caption.
              thead
                tr
                  th.col-xs.text-center Network
                  th.text-center Following
                  th.text-center Followers
              tbody
                tr.text-center
                  td
                    a(href="#")
                      em.fa.fa-leaf.fa-lg.text-success
                  td 1500
                  td 4780
                tr.text-center
                  td
                    a(href="#")
                      em.fa.fa-twitter.fa-lg.text-primary
                  td 500
                  td 3020
                tr.text-center
                  td
                    a(href="#")
                      em.fa.fa-github.fa-lg.text-inverse
                  td 320
                  td 5000
                tr.text-center
                  td
                    a(href="#")
                      em.fa.fa-youtube-play.fa-lg.text-danger
                  td 2000
                  td 560
                tr.text-center
                  td
                    a(href="#")
                      em.fa.fa-dribbble.fa-lg.text-pink
                  td 10000
                  td 5600
                tr.text-center
                  td
                    a(href="#")
                      em.fa.fa-html5.fa-lg.text-orange
                  td 11k
                  td 520


