// START action buttons
.clearfix.mb
  .btn-group.pull-left
    button.btn.btn-default.btn-sm(type="button", ng-class="{'active':mail.cc}", ng-click='mail.cc = !mail.cc', href='#') CC
    button.btn.btn-default.btn-sm(type="button", ng-class="{'active':mail.bcc}", ng-click='mail.bcc = !mail.bcc', href='#') BCC
// END action buttons
// START Mails
.panel.panel-default
  .panel-body
    form(role='form-horizontal', method='post')
      .input-group.form-group
        span.input-group-addon.text-sm To:
        input.form-control(type='text')
      .input-group.form-group(ng-show="mail.cc")
        span.input-group-addon.text-sm CC:
        input.form-control(type='text')
      .input-group.form-group(ng-show="mail.bcc")
        span.input-group-addon.text-sm BCC:
        input.form-control(type='text')
      .input-group.form-group
        span.input-group-addon.text-sm Subject:
        input.form-control(type='text')
      .mb-editor
        // The wysiswyg toolbar buttons
        .btn-toolbar.mb(data-role='editor-toolbar', data-target='#editor')
          .btn-group(dropdown='dropdown')
            a.btn.btn-default.dropdown-toggle(data-toggle='dropdown', tooltip='Font')
              em.fa.fa-font
              b.caret
            ul.dropdown-menu
              li(ng-repeat="ff in form.editorFontFamilyList")
                a(href='', data-edit='fontName {{ff}}', ng-attr-style="font-family: '{{ff}}';") {{ff}}
          .btn-group.dropdown
            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', tooltip='Font Size')
              em.fa.fa-text-height
              b.caret
            ul.dropdown-menu
              li(ng-repeat="fz in form.editorFontSizeList")
                a(href='', data-edit='fontSize {{fz.value}}', ng-attr-style='font-size: {{fz.value}};') {{fz.name}}
          .btn-group
            a.btn.btn-default(data-edit='bold', tooltip='Bold (Ctrl/Cmd+B)')
              em.fa.fa-bold
            a.btn.btn-default(data-edit='italic', tooltip='Italic (Ctrl/Cmd+I)')
              em.fa.fa-italic
            a.btn.btn-default(data-edit='strikethrough', tooltip='Strikethrough')
              em.fa.fa-strikethrough
            a.btn.btn-default(data-edit='underline', tooltip='Underline (Ctrl/Cmd+U)')
              em.fa.fa-underline
          .btn-group
            a.btn.btn-default(data-edit='insertunorderedlist', tooltip='Bullet list')
              em.fa.fa-list-ul
            a.btn.btn-default(data-edit='insertorderedlist', tooltip='Number list')
              em.fa.fa-list-ol
            a.btn.btn-default(data-edit='outdent', tooltip='Reduce indent (Shift+Tab)')
              em.fa.fa-dedent
            a.btn.btn-default(data-edit='indent', tooltip='Indent (Tab)')
              em.fa.fa-indent
          .btn-group
            a.btn.btn-default(data-edit='justifyleft', tooltip='Align Left (Ctrl/Cmd+L)')
              em.fa.fa-align-left
            a.btn.btn-default(data-edit='justifycenter', tooltip='Center (Ctrl/Cmd+E)')
              em.fa.fa-align-center
            a.btn.btn-default(data-edit='justifyright', tooltip='Align Right (Ctrl/Cmd+R)')
              em.fa.fa-align-right
            a.btn.btn-default(data-edit='justifyfull', tooltip='Justify (Ctrl/Cmd+J)')
              em.fa.fa-align-justify
          .btn-group.dropdown
            a.btn.btn-default.dropdown-toggle(data-toggle='dropdown', tooltip='Hyperlink')
              em.fa.fa-link
            .dropdown-menu
              .input-group.m-l-xs.m-r-xs
                input.form-control.input-sm(onclick='return false;', placeholder='URL', type='text', data-edit='createLink')
                .input-group-btn
                  button.btn.btn-sm.btn-default(type='button') Add
            a.btn.btn-default(data-edit='unlink', tooltip='Remove Hyperlink')
              em.fa.fa-cut
          .btn-group
            a#pictureBtn.btn.btn-default(tooltip='Insert picture (or just drag & drop)')
              em.fa.fa-picture-o
            input(type='file', data-edit='insertImage', style='position: absolute; opacity: 0; width: 41px; height: 34px;')
          .btn-group
            a.btn.btn-default(data-edit='undo', tooltip='Undo (Ctrl/Cmd+Z)')
              em.fa.fa-undo
            a.btn.btn-default(data-edit='redo', tooltip='Redo (Ctrl/Cmd+Y)')
              em.fa.fa-repeat

        // The wysiswyg editor
        #editor.form-control(wysiwyg="", height="200px", max-height="300px") Type here..
      