
.cellule {font-size:11px; font-family: Verdana, Arial, Helvetica, sans-serif; color:000000;}
.immo {font-size:11px; font-family: Verdana, Arial, Helvetica, sans-serif; color:000000;}
.Style1 {color: #333333}

A:link
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;	
    COLOR: #000000;
    TEXT-DECORATION:none;
}

td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;	
}

div {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;	
}


A:visited
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;	
    COLOR: #000000;
    TEXT-DECORATION:none;

}

A:hover
{
    COLOR: #D44E02;
    TEXT-DECORATION:underline;
}

.l1
{
    FILTER: Alpha(Opacity=75)
}

input
{
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-color: 888888;
	border-right-color: 888888;
	border-bottom-color: 888888;
	border-left-color: 888888;
	border-top-width: 1px;
	border-left-width: 1px;
}

input.4a
{
	font-weight: bold;
	FONT-SIZE: 11px;
	FONT-FAMILY: Arial, Verdana, Geneva, Arial, Helvetica, sans-serif;
	height: 18px;
	border-top-color: D44E02;
	border-right-color: ffffff;
	border-bottom-color: ffffff;
	border-left-color: D44E02;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-width: 1px;
	border-left-width: 1px;
	background: #ffffff;
}

input.5a
{
	font-weight: bold;
	FONT-SIZE: 10px;
	FONT-FAMILY: Arial, Verdana, Geneva, Arial, Helvetica, sans-serif;
	height: 15px;
	border-top-color: D44E02;
	border-right-color: ffffff;
	border-bottom-color: ffffff;
	border-left-color: D44E02;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-width: 1px;
	border-left-width: 1px;
	background: #ffffff;
}

input.6a
{
	font-weight: bold;
	FONT-SIZE: 10px;
	FONT-FAMILY: Arial, Verdana, Geneva, Arial, Helvetica, sans-serif;
	height: 15px;
	border-top-color: D44E02;
	border-right-color: ffffff;
	border-bottom-color: ffffff;
	border-left-color: D44E02;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-width: 1px;
	border-left-width: 1px;
	background: #F2EEE3;
}

input.2a
{
	background: #F2EEE3
}

input.3a
{
	background: #F7F4EC
}

A.cgon
{
	color:yellow;
	text-decoration: blink;
	font-weight: bold;
}

TEXTAREA
{
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-color: 888888;
	border-right-color: 888888;
	border-bottom-color: 888888;
	border-left-color: 888888;
	border-top-width: 1px;
	border-left-width: 1px;
}
SELECT
{
    FONT-SIZE: 10px;
    border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-color: 888888;
	border-right-color: 888888;
	border-bottom-color: 888888;
	border-left-color: 888888;
	border-top-width: 1px;
	border-left-width: 1px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.Style1 {
	font-size: 10px;
	font-weight: bold;
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.Styleg {
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.Style2 {font-size: 10px}